*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15pt;
  background-color: #11114B;

}
.menyu{
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 1000;
    background-color: #0072ce; /* Flag blue */
    height: 230px;
    border-top-left-radius: 0;
    border-top-right-radius: 65px;
    width: 1000px;
}

.crescent {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 20px 0px 0 0 white;
    top: 65px;
    left: 80px;
    transform: rotate(20deg);
}

.stars {
    position: absolute;
    top: 40px;
    left: 220px;
    width: 400px;
    height: 150px;
}

.star {
    position: absolute;
    background: white;
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/* Top row */
.star-1 { top: 20px; left: 0; }
.star-2 { top: 20px; left: 50px; }
.star-3 { top: 20px; left: 100px; }

/* Middle row */
.star-4 { top: 60px; left: -25px; }
.star-5 { top: 60px; left: 25px; }
.star-6 { top: 60px; left: 75px; }
.star-7 { top: 60px; left: 125px; }

/* Bottom row */
.star-8 { top: 100px; left: -50px; }
.star-9 { top: 100px; left: 0px; }
.star-10 { top: 100px; left: 50px; }
.star-11 { top: 100px; left: 100px; }
.star-12 { top: 100px; left: 150px; }
.oq{
    position: relative;
    background-color: white;
    height: 150px;
    left: 50px;
    width: 1000px;
    bottom: 0px;

    z-index: 2;
}
.kok{
    position: relative;
    background-color: #18b637; /* Flag green */
    height: 150px;
    width: 1000px;
    z-index: 1;
    border-bottom-right-radius: 65px;
    left: 50px;
}
.to{
    position: relative;
    background-color: mediumslateblue;
    color: chocolate;
    width: 38px;
    height: 1300px;
    top: -643px;
    left: 18px;
    border-top-left-radius: 50px;
    z-index: 0;
}
.qizil{
    position: relative;
    background-color: #d50000; /* Flag red */
    height: 8px;
    left: 50px;
    width: 1000px;
    z-index: 4;


}
.qizill{
position: relative;
background-color: #d50000; /* Flag red */
height: 8px;
left: 50px;
top: 30px;
width: 1000px;
z-index: 4;
}
.ozb{
    position: relative;
    background-color: rgba(33, 82, 51, 1);
    height: 130px;
    width: 130px;
    z-index: 1;
    border-radius: 100px;
    left: -20px;
    top: 720px;
    z-index: -1;
}
